<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minted</title>
    <script src="/static/base.js" defer></script>
    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript" defer></script>          
    <script src="/static/cloudinary_widget.js" type="text/javascript" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    {% if session.get('user_name', '') == '' %}
    {% else %}
    <div id="login_status">
        <p>You are logged in as {{ session.get('user_name', '') }}</p>
    </div>
    {% endif %}
    <header>
        <div id="logo">
            <img src="/static/images/logo.png" width="60px" alt="Minted Logo"></li>
                <p id="logo_title">Minted</p>
        </div>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/browse">Browse</a></li>
            {% if session.get('user_name', '') == '' %}
            <li id="nav_login">Login</li>
            <li id="nav_signup"><a href="/signup">Signup</a></li>
            {% else %}
            <li><a href="/users/profile/{{ session.get('user_id', '') }}">My Profile</a></li>
            <li><a href="/users/logout">Logout</a></li>
            {% endif %}
        </nav>
    </header>
    {% block main %}

    <section class="banner">
        <h1 class="banner_heading">Collaborate, Mint, Earn</h1>
        <div class="banner_button" id="join_button">Join the Community</div>
    </section>
    <section id="homepage_playlist">
        <div class="playlist">
            <h2>Trending Collaborations</h2>
            <div class="playback_module">
                <img src="{{top_rap.user.profile_pic}}" alt="music artwork">
                <div>
                    <h1>{{top_rap.user.username}} on <span class="italic">{{ top_rap.beat.track_name}}</span></h1>
                    <audio controls>
                        <source src="{{top_rap.audio_url}}" type="audio/ogg">
                        Your browser does not support the audio tag.
                    </audio>
                    <br>
                    <button>Likes &#128293 {{ top_rap.likes }}</button>
                    <button><a href="/users/profile/{{ top_rap.user.id }}">View Artist Profile</a></button>
                    <button><a href="/tracks/{{ top_rap.beat.id }}">View Beat Page</a></button>
                </div>
            </div>
        </div>
        <div class="playlist">
            <h2>Trending Beats</h2>
            <div class="playback_module">
                <img src="{{top_beat.artwork_url}}" alt="music artwork">
                <div>
                    <h1><span class="italic">{{top_beat.track_name}}</span> by {{top_beat.user.username}}</h1>
                    <audio controls>
                        <source src="{{top_beat.audio_url}}" type="audio/ogg">
                        Your browser does not support the audio tag.
                    </audio>
                    <br>
                    <button>Likes &#128293 {{ top_beat.likes }}</button>
                    <button><a href="/tracks/{{ top_beat.id }}">View Track Page</a></button>
                    <button><a href="/users/profile/{{ top_beat.user.id }}">View Artist Profile</a></button>
                </div>
              </div>
        </div>
    </section>
    <section class="banner">
        <h1 class="banner_heading">Create digital assets with fractional NFT's</h1>
        <div class="banner_button">Learn More</div>
    </section>
    <section>
        <img id="testimonial" src="/static/testimonial.jpeg" alt="testimonial 'I built my career on Minted. It gave me access to a community of creators and fans as well as the tools to own and monetize my music'">
    </section>
    <section class="banner">
        <h1 class="banner_heading">See what our producers have been creating</h1>
        <div class="banner_button"><a href="/browse">Browse Beats</a></div>
    </section>

    {% endblock%}

<!-------------------------------- Dialogs below ------------------------------>

<dialog id="dialogLogin">
    <h1>Login to Minted</h1>
    <form id="login_form" action="/users/login" method="POST">
        <p>
            <label for="email">Email:</label>
            <input name="email" type="email">
        </p>
        <p>
            <label for="password">Password:</label>
            <input name="password" type="password">
        </p>
        <button type="submit">Login</button>
    </form>
</dialog>

</body>
</html>