{% extends 'base.html' %}

{% block main %}
<h1><span class="italic">{{page_track.track_name}}</span> by {{ page_track.user.username }}</h1>



<section>
  <div class="playback_module">
    <img src="{{page_track.artwork_url}}" alt="music artwork">
    <div>
        
        <audio controls>
            <source src="{{page_track.audio_url}}" type="audio/ogg">
            Your browser does not support the audio tag.
        </audio>
        <br>
        <button>Like</button>
        <button>Comment</button>
        <button><a href="{{page_track.audio_url}}" download="{{page_track.track_name}}.mp3">Download</a></button>
        <button><a href="/users/profile/{{ page_track.user.id }}">View Artist Profile</a></button>
    </div>
  </div>
    
</section>

<h1>Verses by:</h1>

{% if session.get('account_type', '') == 'MC' %}
<button id="upload_rap">Upload Your Own Rap</button>
<div id="upload_rap_div" class="hide">
  <h1>Upload your rap</h1>
  <form action="/upload_rap/{{ session.get('user_id', '') }}/{{ track_id }}" method="POST">
      <p>
        <label for="audio_url">Music Url: </label>
        <input id="audio_url" name="audio_url" type="text" readonly>
        <button type="button" id="audio_upload_widget" class="cloudinary-button">Upload Audio</button>
      </p>
      <p>
        <button type="submit">Submit</button>
      </p>
    </form>
  </div>
{% else %}
{% endif %}

{% for rap in raps %}
    <div class="playback_module">
      <img src="{{rap.user.profile_pic}}" alt="music artwork">
      <div>
        <h1>{{rap.user.username}} on <span class="italic">{{ page_track.track_name}}</span></h1>
          <h1>{{rap.track_name}}</h1>
          <audio controls>
              <source src="{{rap.audio_url}}" type="audio/ogg">
              Your browser does not support the audio tag.
          </audio>
          <br>
          <button>Like</button><button>Comment</button><button><a href="/users/profile/{{ rap.user.id }}">View Artist Profile</a></button>
      </div>
    </div>
{% endfor %}



<script type="text/javascript">

uploadRapButton = document.getElementById("upload_rap")
uploadRapDiv = document.getElementById("upload_rap_div")

uploadRapButton.addEventListener("click", () => {
    uploadRapDiv.classList.toggle("hide")
})

document.getElementById("audio_upload_widget").addEventListener("click", function(){
    audio_upload_widget.open();
  }, false);


/**----------------------
 *    Close Dialogs
 *------------------------**/

 const lightDismiss = ({target:dialog}) => {
    if (dialog.nodeName === 'DIALOG')
      dialog.close('dismiss')
}
document.addEventListener('click', lightDismiss);

</script>

{% endblock %}