{% extends 'base.html' %}

{% block main %}
<section id="profile_page">
    <section id="profile_details">
        <h1>{{ user_name }}</h1>
        <h3>{{ account_type }}</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex dolor laudantium hic ab expedita omnis mollitia unde molestiae cumque asperiores ea explicabo alias maiores quas impedit, iusto aperiam totam natus!</p>
        

    </section>

    {% if session.get('user_id', '') == user_id and account_type == 'producer' %}
    
    <section id="upload_form">
        <form action="/upload_beat/{{ session.get('user_id', '') }}" method="POST">
            <h2>Upload a Beat</h2>
            <p>
                <label for="name">Track Name:</label>
                <input name="name" type="text">
            </p>
            <p>
                <label for="sc_embed">Embed Link:</label>
                <input name="sc_embed" type="text">
            </p>
            <button type="submit">Upload</button>
        </form>
    </section>

    {% else %}
    {% endif %}

    <section id="track_list">
        {% for beat in beats %}
        <button>Like</button><button>Comment</button><button>Download</button><button><a href="/tracks/{{ beat.id }}">View Track Page</a></button>
        <iframe class="scwidget" width="95%" height="166" scrolling="no" frameborder="no" allow="autoplay"src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ beat.sc_id }}&amp;color=BD6E00&show_artwork=false&show_user=false&download=true&sharing=false"></iframe>
        {% endfor %}
    </section>
    

</section>
{% endblock %}